$navbar-color: linear-gradient(#524c4c, #000000);
$graysclale-100: grayscale(100%);
$graysclale-0: grayscale(100%);
$border: #ffdd57;
$border2: rgba(0, 0, 0, 0.7);
$white: white;
$black: black;
$background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
